.middle {
  background-color: lightpink;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.days {
  display: flex;
}

.day {
  width: calc(500px / 7);
  height: calc(300px / 8);
  border: 1px solid red;
  background: blanchedalmond;
}

.dates {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.date_div {
  border: 1px solid crimson;
}

.weekend {
  color: white;
  background-color: lightskyblue;
  display: flex;
  div {
    border: 1px solid purple;
    width: calc(500px / 7);
    height: calc(300px / 5);
  }
}
